rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Allow users to read and write their own audio files
    match /audio/{userId}/{fileName} {
      allow read, write, delete: if request.auth != null && request.auth.uid == userId;
    }
    
    // Allow users to read and write their own multimedia files
    match /multimedia/{userId}/{fileName} {
      allow read, write, delete: if request.auth != null && request.auth.uid == userId;
    }
  }
}